%p#notice= notice

%p
  %b 名前:
  = @applicant.name
%p
  %b 年齢:
  = @applicant.age

= render 'applicants/tags', applicant: @applicant

%div= link_to '編集', edit_applicant_path(@applicant), class: 'btn btn-default'
