%p#notice= notice

%h1
  = @applicant.name
  %small= @applicant.age.to_s + '歳'

= render 'applicants/tags', applicant: @applicant

%div= link_to '編集', edit_applicant_path(@applicant), class: 'btn btn-default'
